/*
************************************************
### PARAMETERS ###
************************************************
*/
@charset "UTF-8";

:root {
  --color_main1: #fafafa;
  --color_main2: #535353;
  --color_main3: #ff0043;
  --color_main4: #004cff;
  --color_main5: #feae1f;

  --color1: #100f10;
  --color2: #1b1b1b;
  --color3: #242424;

  --color_font1: #fffffff5;
  --color_font2: #ffffffab;
  --color_font3: #ffffff73;
}

/*
************************************************
### GENERAL ###
************************************************
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: var(--color1);
  color: var(--color_font2);
  margin: auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  color: var(--color_font2);
  text-decoration: none;
}

a:hover {
  color: var(--color_main5);
}

a.extern::after {
  content: "\1F517";
}

li {
  list-style: none;
}

.wrap-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pic-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  margin: 50px;
}

.pic-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container {
  width: 350px;
}

.dog-name {
  color: var(--color_main5);
}

@media screen and (max-width: 768px) {
  .pic-container {
    width: 300px;
    height: 300px;
  }
}
